<script>
export default {
  props: ['employees']
}
</script>

<template>
<div class="tabela-div col-lg-6">
  <table class="table-bordered tabela">
    <tr>
      <td></td>
      <td class="td-texto">Nome</td>
      <td class="td-texto">Sobrenome</td>
      <td class="td-texto">Participação</td>
    </tr>
    <tr v-for="(employee, index) in employees">
      <td>{{ index + 1 }}</td>
      <td class="td-texto">{{ employee.nome }}</td>
      <td class="td-texto">{{ employee.sobrenome }}</td>
      <td class="td-texto">{{ employee.participacao }}%</td>
    </tr>
  </table>
</div>
</template>

<style>
.tabela {
  margin: 0 auto;
}
.tabela-div {
  margin: 0;
}

td {
  padding: 10px;
}

.td-texto {
  width: 200px;
  height: 40px;
}

@media (max-width: 600px){
  .td-texto {
    width: 100px;
    height: 20px;
  }
  td {
  padding: 5px;
  }
}
</style>
