<script>
import { EventBus } from '@/eventBus'
import employeesServices from '@/services/employeesServices'
import Validador from '@/validadores/validadorEmployee'

export default {
  data () {
    return {
      nome: '',
      sobrenome: '',
      participacao: ''
    }
  },
  methods: {
    cadastrar () {
      let employee = {
        nome: this.capitalizarNome(this.nome.trim()),
        sobrenome: this.capitalizarNome(this.sobrenome.trim()),
        participacao: this.participacao
      }
      let erroMsg = Validador.validar(employee)
      if (erroMsg) {
        return alert(erroMsg)
      }
      employeesServices.adicionarEmployee(employee).then(() => {
        EventBus.$emit('employeeCriado', employee)
      })
      this.limparCampos()
    },
    limparCampos () {
      this.nome = ''
      this.sobrenome = ''
      this.participacao = ''
    },
    capitalizarNome (string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
    }
  }

}
</script>

<template>
  <div class=" container-fluid top-bar">
    <h1><b>CADASTRE-SE</b></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut eaque sapiente quam aliquam, a doloribus.</p>
    <div class="formulario">
      <input type="text" class="input" v-model="nome" placeholder="Nome">
      <input type="text" class="input" v-model="sobrenome" placeholder="Sobrenome">
      <input type="number" class="input" v-model.number="participacao" placeholder="Participação">
      <a class="botao" @click="cadastrar"><b>ENVIAR</b></a>
    </div>
  </div>
</template>

<style>

  body {
    margin: 0;
  }

  .top-bar{
    color: white;
    padding: 15px;
    text-align: center;
    background-color: var(--azul-principal);
    min-height: 200px;
  }

  .input{
    height: 50px;
    width: 250px;
    margin: 10px;
    padding-left: 10px;
    border: 0;
    border-radius: 2px;
  }

  .botao{
    cursor: pointer;
    line-height: 50px;
    margin: 10px;
    display: inline-block;
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  @media (max-width: 880px){
    .formulario{
      display: grid;
      justify-items: center;
    }
    body{
      font-size: 0.85em;
    }
  }

</style>
